@import 'tailwindcss';

@font-face {
    font-family: Vazirmatn;
    src: url('../assets/fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pelak;
    src: url('../assets/fonts/Pelak-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../assets/fonts/Vazirmatn-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pelak;
    src: url('../assets/fonts/Pelak-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Pelak;
    src: url('../assets/fonts/Pelak-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-main: Pelak, Vazir, sans-serifs;
    --color-rasta-green: #008a00;
    --color-rasta-yellow: #f9d104;
}

.Vue-Toastification__toast-body {
    font-family: Pelak, sans-serif !important;
    text-align: right;
    direction: rtl;
}

body {
    font-family: Pelak, Vazir, sans-serif;
}
