@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url('./src/assets/fonts/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazir;
  src: url('./src/assets/fonts/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-vazir: Vazir;
  --color-rasta-green:  #008A00;
  --color-rasta-yellow: #F9D104; 
}

